.career h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3rem;
    color: rgb(4, 4, 109);
}

.sec {
    width: 100%;
    height: 90vh;
    background-image: url(./assets/ins.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -20px;
    overflow: hidden;
    display: flex;
}

/* 
.second {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/add3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom-left-radius: 120px;
    display: flex;
} */

.seconds {
    width: 100%;
    height: 90vh;
    background-image: url(./assets/sendmessage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
}

.c1 {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    background: rgb(249, 245, 245);
}

.c1 h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(2, 2, 116);
    margin-top: -10px;
}

.c1 h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: -25px;
}

.cnt {
    background: white;
    width: 400px;
    height: 520px;
    margin-top: 40px;
    margin-left: 900px;
    border-radius: 5px;
}

.cnt h1 {
    color: rgb(5, 5, 93);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.cnt form {
    margin-left: 30px;

}

.cnt form input {
    width: 330px;
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 56, 56);
    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid black;

}

.cnt form textarea {
    height: 120px;
    font-family: 'Poppins', sans-serif;
    width: 340px;
    border: 2px solid black;
}

.cnt form label {
    font-family: 'Poppins', sans-serif;
}

.cnt form .inp {
    border: 1px dashed black;
}

.cnt form button {
    margin-left: 100px;
    padding: 5px 55px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background: red;
}


@media (max-width:834px) {
    .seconds {
        height: 65vh;
        background: black;
    }

    .cnt {
        background: white;
        width: 500px;
        height: 600px;
        margin-top: 40px;
        margin-left: 150px;
        border-radius: 5px;
    }

    .cnt h1 {
        font-size: 3rem;
    }

    .cnt form input {
        width: 420px;
        height: 22px;
    }

    .cnt form textarea {
        width: 425px;
    }

    .cnt form button {
        color: black;
        background: aqua;
        padding: 8px 70px;
        margin-left: 120px;
        margin-top: 20px;
    }
}


@media (max-width:518px) {
    .sec {
        width: 100%;
        height: 30vh;
    }

    .cnt h1 {
        font-size: 1.8rem;
    }

    .career h3 {
        text-align: center;
        font-size: 1.2rem;
        background: linear-gradient(to left, red, blue);
    }


    .c1 h4 {
        font-size: 1.4rem;
        margin-left: -45px;
        margin-top: 10px;
    }

    .c1 h6 {
        font-size: 0.8rem;
        margin-left: -20px;
    }

    .h5 h5 {
        display: flex;
        justify-content: space-around;
        width: 50%;
        text-align: center;
        height: 100%;

    }

    .seconds {
        width: 100%;
        height: 45vh;
        background: black;
        overflow: visible;
        padding-bottom: 10px;
    }



    .cnt form {
        margin-left: 20px;

    }

    .cnt form input {
        width: 190px;
        height: 10px;
    }

    .cnt form textarea {
        height: 20px;
        width: 200px;
    }



    .seconds .cnt {
        margin-left: 60px;
        width: 250px;
        height: 350px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .cnt form button {
        padding: 5px 15px;
        margin-left: 50px;
    }
}

@media (max-width:380px) {
    .seconds {
        height: 58vh;
    }
}